body {
    margin: 0;
    font-family: "Segoe UI","Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1 !important;
    color: #f8f9fa !important;
    text-align: left;
    background-color: #fff
}
.bg-Index {
    background-color: #1b508c !important;
}
.bg-primary {
    background-color: #54301a !important;
}
.hencabezado {
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: .9
}

fixed-bottom {
    position: fixed;
    right: 7px;
    bottom: 8px;
    left: 8px;
    z-index: 1034
}

.parrafo {
    margin-top: 0;
    margin-bottom: .58rem
}

body, html {
    height: 100%
}

#wrap {
    min-height: 100%
}

#main {
    overflow: auto;
    padding-bottom: 150px
}

.footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 91px
}

#imgLogo {
    width: 100%;
    margin-right: 5px
}

@media screen and (min-width:992px) {
    .topnav-centered label {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 18px
    }

    .hencabezado {
        margin-bottom: .5rem;
        font-weight: 300;
        line-height: .9
    }
}

@media screen and (min-width:600px) and (max-width:800px) {
    .topnav-centered label {
        padding-top: 1.2%
    }

    .hencabezado {
        margin-bottom: .5rem;
        font-weight: 300;
        line-height: .9
    }
}

.capitalize {
    text-transform: capitalize
}

.whiteLabel {
    color: #fff;
    font-weight: initial !important
}

.blick {
    margin-bottom: .5rem;
    font-weight: 700 !important;
    line-height: 1.1
}

.container {
    padding-left: 1% !important;
    padding-right: 1% !important
}

.widthImagen {
    width: 100%
}

.colorblack {
    color: #000
}
